{
    "extends": [
        "eslint:recommended",
        "plugin:node/recommended"
    ],
    "globals": {
        "describe": false,
        "it": false,
        "fit": false,
        "beforeEach": false,
        "afterEach": false,
        "beforeAll": false,
        "afterAll": false,
        "expect": false,
        "jasmine": false
    },
    "parserOptions": {
        "ecmaVersion": 2020
    },
    "rules": {
        "node/exports-style": ["error", "module.exports"],
        "node/file-extension-in-import": ["error", "always"],
        "node/prefer-global/buffer": ["error", "always"],
        "node/prefer-global/console": ["error", "always"],
        "node/prefer-global/process": ["error", "always"],
        "node/prefer-global/url-search-params": ["error", "always"],
        "node/prefer-global/url": ["error", "always"],
        "node/prefer-promises/dns": "error",
        "node/prefer-promises/fs": "error",
        "node/no-unpublished-require": "off"
    }
}